<body>
    <table style="width: 100%;">
        <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i < datalist.length; i++) { %>
        <tr>
            <td><%= datalist[i].email %></td>
            <td><%= datalist[i].fullname %></td>
            <td><a href="/edit-user?id=<%= datalist[i].id %>">Edit</a></td>
        </tr>
        <% } %>
    </table>
</body>