<div class="container">
    <div class="row">
        <form action="/put-user" method="post">
            <input type="text" class="form-control" id="id" name="id" value="<%=data.id%>">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email"
                    value="<%=data.email%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname"
                    value="<%=data.fullname%>">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>